.branding {
  font-family: 'Monoton', cursive;
  color: var(--gray-200);
  font-size: 6rem;
  text-align: center;
}

.heading {
  font-weight: 100;
  font-size: 3rem;
  color: var(--primary-200);
  margin-bottom: 1rem;
}

.sub-heading {
  text-transform: uppercase;
  color: var(--primary-200);
  border-top: 1px solid var(--primary-200);
  font-size: 150%;
}

.stock-heading {
  text-transform: uppercase;
  color: var(--gray-300);
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--gray-300);
}

.gig-identifier {
  font-weight: 400;
  text-transform: uppercase;
  color: var(--primary-200);
}

.form-heading {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 1.7rem;
  color: var(--primary-300);
  margin-bottom: 1rem;
}

main {
  padding: 1rem;
}

h3 {
  padding: 0.5rem 0;
}

.container {
  padding: 1rem;
}

form {
  /* width: 100%; */
  margin: 4rem auto;
  padding: 2rem 4rem;
  background-color: var(--black-trans-20);
  border: 1px solid var(--primary-200);
}

form div {
  margin-bottom: 0.5rem;
}

form label {
  /* padding-right: 2rem; */
  display: inline-block;
  width: 40%;
}

form input {
  width: 50%;
  margin-right: 2rem;
  background-color: var(--primary-100);
  color: var(--gray-500);
}

table {
  width: 100%;
  /* padding: 0.5rem; */
  margin-top: 2rem;
  background-color: var(--black-trans-20);
  border-collapse: collapse;
}

th {
  text-transform: uppercase;
  color: var(--primary-200);
  border-bottom: 1px solid var(--gray-400);
  padding: 0.4rem;
}

td {
  padding: 0.4rem;
  border-bottom: 1px solid var(--black-trans-50);
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.totals {
  text-transform: uppercase;
  background-color: var(--black-trans-50);
  color: var(--white);
}

.totals td {
  padding: 0.7rem 0.4rem;
  border: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  padding: 0.5rem;
}

ul li a {
  color: inherit;
}

.nav-link {
  display: inline-block;
  margin-bottom: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5rem;
  background-color: var(--gray-100);
  color: var(--gray-400);
  border: 1px solid var(--primary-200);
  border-radius: 10px;
}

.nav-link:hover {
  color: var(--gray-300);
}

.button-link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  padding: 0.3rem;
  margin-left: 0.4rem;
  background-color: var(--black-trans-20);
  color: var(--gray-300);
  border: 1px solid var(--primary-200);
  border-radius: 10px;
}

.button-link:hover {
  border-color: var(--primary-300);
}

.form-button {
  padding: 0.3rem 1.5rem;
  margin-top: 0.3rem;
  color: var(--gray-300);
  border: 1px solid var(--primary-200);
  border-radius: 7px;
  background-color: var(--compliment-300);
  color: var(--gray-100);
  cursor: pointer;
}

.form-button:disabled {
  background-color: var(--gray-200);
  cursor: inherit;
}

#updateVenueCut,
#addProductForm {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 400ms;
}

#updateVenueCut.hidden,
#addProductForm.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 400ms, opacity 400ms;
}

#addGigForm {
  max-height: 14rem;
  transition: max-height 400ms linear;
}

#addGigForm.hidden {
  max-height: 0;
  overflow-y: hidden;
  border: none;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  transition: 
    max-height 400ms linear,
    padding-top 400ms linear,
    padding-bottom 400ms linear;
}
