@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Roboto:ital,wght@0,100;0,400;1,700&display=swap');

:root {
  --gray-100: hsl(0, 0%, 10%);
  --gray-200: hsl(0, 0%, 25%);
  --gray-300: hsl(0, 0%, 40%);
  --gray-400: hsl(0, 0%, 75%);
  --gray-500: hsl(0, 0%, 95%);

  --white: hsl(0, 0%, 100%);

  --black-trans-20: rgba(0, 0, 0, 20%);
  --black-trans-50: rgba(0, 0, 0, 50%);

  --primary-100: hsl(197, 95%, 10%);
  --primary-200: hsl(197, 95%, 25%);
  --primary-300: hsl(197, 95%, 45%);
  --primary-400: hsl(197, 95%, 80%);
  --primary-500: hsl(197, 95%, 98%);

  --compliment-100: hsl(17, 80%, 10%);
  --compliment-200: hsl(17, 80%, 25%);
  --compliment-300: hsl(17, 80%, 45%);
  --compliment-400: hsl(17, 80%, 75%);
  --compliment-500: hsl(17, 80%, 95%);
}

html, body, h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-100);
  color: var(--gray-400);
}
